/* stylesheet - Christian Halsted 2019 */

#map {
   height: 550px;
   width: 100%;
   display: inline-block;
}
#panel {
  /* display: inline-block; */
  /* display: block; */
  /* width: 35%; */
  vertical-align: top;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px 5px 0px 5px;
  max-width: 250px;
}
#panelSeq{
  line-height: 42px;
}
.skip {
  width: 40px;
  height: 30px;
}
#forward {
    float: right;
}
#reverse {
    float: left;
}
.range-slider {
	line-height: 18px;
	color: #555;
}
.leaflet-popup-content p {
    margin: 0.2em 0;
}

@media (max-width: 600px) {
  #map {
    height: 350px;
  }
}

.legend, .temporal-legend {
  padding: 1px 5px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
	}
#legendTitle {
  text-align: center;
  margin-bottom: 5px;
  font-variant: small-caps;
}
.symbolsContainer {
  float: left;
  margin-left: 50px;
}
.legendCircle {
  border-radius:50%;
  border: 1px solid #537898;
  background: rgba(255, 120, 0, .5);
  display: inline-block;
}
.legendValue {
  position: absolute;
  right: 8px;
}
